@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
@import "./styles/variables.css";
@import "./styles/themes.css";
@import "./styles/components.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: var(--font-primary);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

a {
  color: inherit;
}
